[Unit]
Description=Starburger web app
Requires=postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/star-burger
ExecStart=/opt/star-burger/env/bin/gunicorn -w 3 -b 127.0.0.1:8080 star_burger.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target